body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}


header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

@media (max-width: 1279px) {
    body {
        max-width: 1279px;
    }
    .main {
        max-width: 1279px;
    }
    .header {
        display: flex;
        width: auto;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    body {
        max-width: 767px;
    }
    .main {
        max-width: 767px;
    }
    .header {
        display: flex;
        width: auto;
        justify-content: center;
    }
}
